@import url(/css/styles.css);

/* este es el contendor del primer auncio q me permite hacer lo que esta dentro de el*/
.primer-anuncio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1000px;
    background-image: url(../Imagen/anuncio\ 1/primer-anuncio.jpeg);
    background-size: cover;
    background-position: center;
    padding: 0 50px;
    color: var(--color-texto-blanco);
    overflow: hidden;
}

/* este es lo que contiene el tamaño de la imagen */
.primer-anuncio__contenido{
    max-width: 100%;
    padding: 50px;
    text-align: left;
}

/* este es el que me permite mover el texto y darle estilo */
.primer-anuncio__contenido--titulo{
    display: flex;
    font-size: 120px;
    font-weight: bold;
    padding-top: 98px;
    margin-bottom: 20px;
}

/* y este me permite dasrte tamaño y darle estilo al texto */
.primer-anuncio__contenido--texto{  
    width: 50%;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 200;
}

