:root{
    --color-header: #21243d;
    --color-texto-blanco: #ffffff;
    --color-icono-header: #f4f4f4;
    --color-botones: #21243c;
    --hover-botones: #3a3f5c;
    --color-fondo-menu: #21243d;
    --color-fondo-segundo-anuncio: #ffd17e;
    --color-texto-segundo-anuncio: #333;
}